{
  "extends": "airbnb",
  "globals": {
    "React": false,
    "ReactDOM": false,
    "gm": false
  },
  "rules": {
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true }]
  }
}