{
  "extends": "airbnb",
  "globals": {
    "gm": false
  },
  "rules": {
    "react/prefer-stateless-function": ["warn", { "ignorePureComponents": true }],
    "import/no-extraneous-dependencies": ["error", { "optionalDependencies": false }],
    "arrow-parens": ["error", "as-needed"]
  }
}